{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Date</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <td>{{i.customer}}</td>
      <td>{{i.date_ordered}}</td>
      <td>{{i.transaction_id}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}