{% extends 'store/main.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
<div class="row">
    {% for product in products %}
	<div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
    
        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" onclick="addcart({{product.id}},add)">Add to Cart</button>
            <h4 style="display: inline-block; float: right"><strong>Rp.{{product.price}}</strong></h4>
    
        </div>
    </div>
    {% endfor %}
</div>
{% if not user.is_authenticated %}
<div class="container">
    <h1 style="text-align: center; margin-top: 40px;">Please login first to start shopping</h1>
</div>
{% elif user.is_authenticated %}
<div class="container">
    <h1 style="text-align: center; margin-top: 40px;">Welcome to our Shop {{user}}, enjoy!</h1>
</div>
{% endif %}
{% endblock content %}

